<div class="nline">
<h1 class="Home-Title">Welcome to the cafeteria manager</h1>
<p class="Home-Text">Enjoy delicious food at our Restaurant</p>
<h3 class="Home-Authenticate">New to use Cafeteria Manager then <%= link_to "sign up here", new_users_path %> </h3>
<h3 class="Home-Authenticate">An existing user? then <%= link_to "sign in here", new_sessions_path %> </h3>
<p style="display: flex;"><br><hr>
<div style="display: flex;"><p class="Owner-Page">Owner blog then <%= link_to "sign in here", new_sessions_path %></p>
<p class="Clerk-Page">Clerk blog then <%= link_to "sign-in here", new_sessions_path %></p></div>
</p>
</div>
