<section class="Cart">
  <h1 class="Cart-title"> Items in cart are: </h1>
  <ul class="Menu-items">

        <li class="Menu-item">
          <p text-align="left" class="MenuItem-nameHead">Item-name </p>
          <p text-align="right" class="MenuItem-priceHead">Price </p>
          <p text-align="center" class="MenuItem-quantityHead">Quantity </p>
        </li>
    <section class="Menu-itemsTotal">
        <h1 class="Cart-total">  Total Cart Value: <h1>
    </section>
    </ul>
    <%= form_with(url: "/orders", method: "POST",class: "AddOrder") do %>

      <%= submit_tag "Place Order", class: "AddOrder-button"%>
<% end %>
