<main class="OrdersMainPage">
  <article>
    <% if @current_user.role == "customer" %>
      <%= render partial:"order-section", locals: {
        orders: @current_user.orders.where.not(delivered: nil),
        section_title: "My Orders"
      } %>
    <% else %>
      <%= render partial:"order-section", locals: {
        orders: Order.all.where("delivered=?",false),
        section_title: "Pending Orders"
      } %>
    <% end %>
  </article>
</main>
