<div class="container">

 <% order.order_items.all.each do |orderitem| %>
   <div class="fmenu">
      <div class="fItem">
          <%= image_tag("coffee.jpg", width: '100px')  %>
        <div class="Item-Text">
          Item name: <%= orderitem.name %><br>
          Price: $<%= orderitem.price %>
          </div class="Item-things">
            <% if @current_user.role == "customer" %>

              <% end %>
            <% end %>
            <% if @current_user.role == "owner" %>

            <% end %>
         </div>
    </div>
    <% end %>

</div>
