.Home-Title{
  color:blueviolet;
  font-size: 60px;
  font-style: bold;
  text-align: center;
}
.nline{
    word-wrap: break-word;

}
.bg{
  background-image: url('restaurant.jpg');
  background-repeat: no-repeat;
height: 100%;
  background-size: 100% 100%;
  background-position: center;

}
.Home-Text{
  color:brown;
  font-size: 50px;
  font-style: italic;
  align-content: stretch;
}

.Body{
  font-family: OpenSans,sans-serif;
  max-width: 600px;
  margin:0 auto;
  margin-top: 32px;
}
.HomeTitle{
  font-size: 30px;
  margin-bottom: 30px;
}
.HomeAuthentication{
  font-size: 20px;
  margin-bottom: 30px;

}

.Owner-Page{
  font-size: 30px;
  text-align: left;

}

.Clerk-Page{
  font-size: 30px;
  text-align: right;
  margin-left: auto;
}

.UserHeader{
  padding: 10px;
  background-color: lavender;
  font-size: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.flash-msg{
  color: darkred;
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.flash-notice{
  color: darkgreen;
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 25px;
}

.MenuHeader{
  padding: 10px;
  background-color: lavender;
  font-size: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.MenusHeader{
   overflow: hidden;
  background-color: #333;
  font-size: 25px;

}
.MenusHeader a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.MenusHeader a:hover {
  background-color: #ddd;
  color: black;
}
