.MenuPage-title{
  font-size: 80px;
  color: white;
  font-style: italic;
  text-align: center;
}

.Add-Menu{
  height: 38px;
  align-items: stretch;
  margin-bottom: 32px;
  text-align: center;
}

.AddMenu-text{
  padding: 6px 12px;
  font-size: 22px;
  color: #453c52;
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  margin-right: 20px;
}

.MenuSection{
  margin-bottom: 32px;
  text-align: center;
}

.MenuItem{
  font-size: 26px;
  font-family: sans-serif;
  color: rgb(0, 255, 234);
  text-align: center;
  background-color: rgb(200, 164, 65);
}

.MenuItem-container{
   font-size:40px;
   display: inline-flex;
   padding:30px;
}

.Menu-UnorderedList{
  margin-top: 32px;
  list-style-type: none;
}

.AddMenu-button{
  font-size: 22px;
  color: white;
  background-color: #48BB78;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.Link-Item{
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: inherit;

}

.MenuItem-Page{
  text-align: center;
  color: green;
  font-size: 40px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fmenu {
    float: left;
    margin-left: 60px;
    width: auto;
}

.fItem {
    position: relative;
    display: flex;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
    border: 0.5px solid rgba(0,0,0,0.125);
}



.Item-Text{
  display: flex;
  margin-left:20px;
  font-size:20px;

}

.AddCart-button{
  font-size: 15px;
  color: white;
  background-color: chocolate;
  align-content: right;
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 4px;
}

.AddCart-button{
  font-size: 20px;
  color: white;
  background-color: #48BB78;
  border: 1px solid transparent;
  border-radius: 4px;

}

.Menu-delete{

  margin-left: 20px;
}

.Menu-delete > img{
  width: 16px;
}

.Item-things{
  display: inline-block;
}

.MenuItem-delete{
  margin-left: 150px;
  width: 40px;
}
.TodoItem-checkbox{
  width: 16px;
  height: 16px;
}
.quantity{
  box-sizing: border-box;
  padding-left: 25px;
  font-style: oblique;
  font-size: large;
}
