.cart-trash{
  padding-left: 20px;
  width: 40px;
}
.Add-Item{
  margin-left: 20px;
  margin-top: auto;
  font-size: 25px;
  font-style: italic;
}
.finalize{
  padding-top: 25px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}
.place-order{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  font-size: x-large;
}

.place-order:hover {
  background-color: #4CAF50;
  color: white;

}
.new-order{
 font-size: 48px;
  line-height: 1.6;
  font-weight: 600px;
  color: black;
  margin-bottom: 32px;
  font-weight: bold;
  text-align: center;
  background-color: cadetblue;
}

.pendingorders-title{
  font-size: 32px;
  text-align: center;
  color: cadetblue;
outline-style: groove;

}
.pendingorders-details{
font-size: 30px;
outline-style: double;

}
.pendingorders-datetime{
  text-align: right;
}
.pendingorders{
  background-color: darkseagreen;

}
.pendingorders-form{
    font-size: inherit;
    text-align: -webkit-center;
    color: darkslategray;
    border: none;
    cursor: pointer;
}
