.cart-trash{
  padding-left: 20px;
  width: 40px;
}
.Add-Item{
  margin-left: 20px;
  margin-top: auto;
  font-size: 25px;
  font-style: italic;
}
.finalize{
  padding-top: 25px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}
