.reports-title{
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 35px;
}
.reports-data{
  margin-bottom: 10px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}
.search{
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.search1{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  text-align: center;
}
.search1:hover {
  background-color: #4CAF50;
  color: white;
}

.reports-customer_id{
  width: 60px;
}
.reports-data1{
  font-size: 20px;
  font-style: oblique;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.reports-table{
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  background-color:grey;

}
.reports-table__tr{
  border: 1px solid black;

}
.Invoice-title{
  font-style:italic;
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
}
.invoice-orderdetails{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.invoice-userdetails{
  font-size: 24px;
}
.invoice-username{
  display: flex;
  justify-content: space-between;
}
.invoice-userphone{
  margin-top: 10px;
}
.invoice-table{
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}
.invoice-table__tr{
  border: 1px solid black;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
th, td{
  text-align: left;
  padding: 8px;
  font-size: 25px;
}
th{
  color: black;
  font-size: 20px;
}
.invoice-order__total{
 margin-top: 30px;
 display: flex;
 justify-content: center;
 font-size: 24px;
}
