.Form-Section{
 margin-bottom: 20px;
}
.NewUser-Title{
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.UsersNew{
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
.Form-Input{
  font-size: 20px;
  padding: 8px;
}
.FormInput-label{
color:rgb(97, 84, 84);
margin-bottom: 5px;
}
.FormSubmit{
  font-size:20px;
  padding: 10px;
  background-color: rgb(168, 235, 203);
  border: 0;
  border-radius: 8px;
}
.nline{
    word-wrap: break-word;
}
.bg{
  background-image: url('restaurant.jpg');
  background-repeat: no-repeat;
height: 100%;
  background-size: 100% 100%;
  background-position: center;

}
